*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

/* write container for different viewports */
@media (max-width: 768px){
  .container{
    flex-direction: column;
  }
}

